<p id="notice"><%= notice %></p>

<h1>Dispatchers</h1>

<table>
  <thead>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Username</th>
      <th>On shift</th>
      <th>Destination</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dispatchers.each do |dispatcher| %>
      <tr>
        <td><%= dispatcher.firstname %></td>
        <td><%= dispatcher.lastname %></td>
        <td><%= dispatcher.username %></td>
        <td><%= dispatcher.on_shift %></td>
        <td><%= dispatcher.destination %></td>
        <td><%= link_to 'Show', dispatcher %></td>
        <td><%= link_to 'Edit', edit_dispatcher_path(dispatcher) %></td>
        <td><%= link_to 'Destroy', dispatcher, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dispatcher', new_dispatcher_path %>
