<h1><%=@dispatcher.username %></h1>
<h1>Session ID is: <%=session[:dispatcher_id]%></h1>
<h1>Dispatcher ID is: <%=@dispatcher.id%></h1>


<footer>
  <small>
    Signed in as <%= current_dispatcher.username %> (<%= link_to "Log out", session_path("current"), method: :delete %>)
  </small>
</footer>