<div class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header"> 
    <a href='/' class='navbar-brand'>Back to Map View</a>
    </div>
    <div class="row"> 
      <ul class='nav navbar-nav navbar-right collapse navbar-collapse'>
        <li>Signed in as <%= current_dispatcher.username %><%= link_to "Log out", session_path("current"), method: :delete %></li>
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <div class="jumbotron text-center">
    <h1><%= @skier.firstname %> <%= @skier.lastname %></h1>
    <div>     
      <p><%= @skier.email %></p>
    </div>
    <div>
      <p><%= @skier.phone %></p>
    </div>
  </div>
  <div class="jumbotron text-center">
    <div>
      <p><strong>Emergency Contact 1</strong>: <%= @skier.ec1 %></p>
    </div>

    <div>
      <p><strong>Emergency Contact 1 Phone #</strong>: <%= @skier.ec1phone %></p>
    </div>
  </div>
</div>

<!-- Test function to see if appropriate information is returned from server -->
<!-- <script>
  $.ajax({
    method: 'POST',
    url: 'https://skipatrolproductiondatabase.herokuapp.com/skiers/login',
    dataType: 'json',
    data: {username: "jacob", password: "admin"},
    success: function(response) {
      console.log(response);
    }
  });
</script> -->

